@import "../../sass/Style.scss";

.box-my-name{
    background-color: brown;
    width: fit-content;
    display: flex;
    align-items: center;
}

.text-my-name{
    margin-left: 12px;
    font-size: 14px;
    font-weight: $regular;
    color: $grey;
}